/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url(../assets/fonts/bebas/Bebas_Neue_Pro_Regular.otf);
@import url(../assets/fonts/bebas/Bebas_Neue_Pro_Bold.otf);

@import url(../assets/fonts/gotham/Gotham-Ultra.otf);
@import url(../assets/fonts/gotham/Gotham-Bold.otf);
@import url(../assets/fonts/gotham/Gotham-Black.otf);

@layer base {
    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url(../assets/fonts/bebas/Bebas_Neue_Pro_Regular.otf),
        url(../assets/fonts/bebas/Bebas_Neue_Pro_Bold.otf);
    }
    @font-face {
        font-family: 'Gotham Ultra';
        src: url(../assets/fonts/gotham/GOTHAM-ULTRA.ttf);
    }
    @font-face {
        font-family: 'Gotham Bold';
        src: url(../assets/fonts/gotham/Gotham-Bold.otf);
    }
    @font-face {
        font-family: 'Gotham Black';
        src: url(../assets/fonts/gotham/Gotham-Black.otf);
    }
}